/*背景設定*/
body{
    background-color:lightblue;
}

/*h1設定*/
h1{
    color: red;
    text-align: center;
}

/*リスト設定*/
.display-area{
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #240808;
    background-color: #ffffff;
}

.textList{
    List-style: none;
    padding-left: 0;
}